<!DOCTYPE html>
<html>
  <head>
    <title>Hub Registration Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'nlp/css/hubs.css' %}">
  </head>
    <body>
        <div class="container">
            <h1>Hub Registration</h1>
            <form method="post">
                {% csrf_token %}
            
                <label for="name">Owner Name:</label>
                <input type="text" name="owner_name" id="owner_name" placeholder="Enter owner name" required><br><br>
            
                <label for="name">Hub Name:</label>
                <textarea name="name" id="name" rows="3" placeholder="Enter hub name" required></textarea><br><br>
            
                <label for="hub_city">Hub City:</label>
                <select name="hub_city" id="hub_city" required>
                <option value="">--Select city--</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Delhi">Delhi</option>
                <option value="Bangalore">Bangalore</option>
                <option value="Hyderabad">Hyderabad</option>
                <option value="pune">pune</option>
                <option value="Ahmedabad">Ahmedabad</option>
                <option value="Kolkata">Kolkata</option>
                <option value="surat">surat</option>
                <option value="chennai">chennai</option>
                </select><br><br>
            
                <label for="address">Hub Address:</label>
                <textarea name="address" id="address" rows="3" placeholder="Enter hub address" required></textarea><br><br>
            
                <label for="pincode">Hub Pincode:</label>
                <input type="text" name="pincode" id="pincode" placeholder="Enter hub pincode (6 digits)" pattern="[0-9]{6}" required><br><br>
            
                <label for="storage_capacity">Storage Capacity:</label>
                <textarea name="storage_capacity" id="storage_capacity" rows="3" placeholder="Enter storage capacity (in float)" required></textarea><br><br>
            
                <input type="submit" value="Register">
            </form>
        </div>
      </body>
</html>
