<!DOCTYPE html>
<html>
<head>
	<title>National logistics policy</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" href="{% static '\nlp\css\style.css' %}">
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="#">Home</a></li><br>
				<li><a href="#">About</a></li><br>
				<li><a href="#">Services</a></li><br>
				<li><a href="#">Contact</a></li><br>
			</ul>
		</nav>
	</header>
	<main>
		<section class="start">
			<h1>Hub and Spoke Model</h1>
			<p>Optimizing transportation routes and schedules for efficient delivery</p>
			<a href="#" class="cta">Get Started</a>
		</section>
		  <h1>Solving your most difficult logistics problems</h1>
     <nav>
       <ul>
         <li><a href="{% url 'hub' %}">Hubs register</a></li><br><br>
		 <li><a href="{% url 'login' %}">Best routes</a></li><br><br>
		 <li><a href="{% url 'register_driver' %}">Driver register</a></li><br><br>
		 <li><a href="{% url 'trucks' %}">Truck register</a></li><br><br>        

    </nav> 
    
    <section class="features">
			<h2>Key Features</h2>
			<ul>
				<li>Optimized hub locations based on demand and capacity</li>
				<li>Efficient transportation routes and schedules</li>
				<li>Real-time monitoring and adjustments for continuous improvement</li>
			</ul>
		</section>
		<section class="about">
			<h2>About Us</h2>
			<p> national logistics policy is introduced by govt of India for effective way of transpoting goods , reducing cutting edge cost and ensuring last mile connectivity . Our team of experts can help you optimize your transportation network for maximum efficiency and cost savings.</p>
			<a href="#" class="cta">Learn More</a>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 National logistics policy@ All rights reserved.</p>
	</footer>
</body>
</html>

  