<!DOCTYPE html>
<html>
  <head>
    <title>Truck Registration Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'nlp/css/truckregister.css' %}">
  </head>
    <body>
        <div class="container">
            <h1>Truck Registration</h1>
            <form method="post">
                {% csrf_token %}
                
                <label for="driver_name">Driver Name:</label>
                <input type="text" name="driver_name" id="driver_name" placeholder="Enter your name" required><br><br>
                
                <label for="vehicle_number">Vehicle Number:</label>
                <input type="text" name="vehicle_number" id="vehicle_number" placeholder="AP 39 AB 1234" required minlength="10" maxlength="10"><br><br>
                
                <label for="truck_capacity">Truck Storage Capacity:</label>
                <textarea name="truck_capacity" id="truck_capacity" placeholder="Enter Truck Storage Capacity" required></textarea><br><br>
                
                <input type="submit" value="Register">
            </form>
        </div>
    </body>
</html>
              

            