/* form container */
.form-container {
    width: 70%;
    margin: 0 auto;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
  }
  
  /* form header */
  .form-header {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* form input labels */
  .form-label {
    font-weight: bold;
  }
  
  /* form inputs */
  .form-input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* form select input */
  .form-select {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* form submit button */
  .form-submit {
    background-color: #5d78ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  /* form submit button hover */
  .form-submit:hover {
    background-color: #5d78ff;
  }
  
  /* error message */
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  